<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-bfbn-berufe" >
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.bezeichnung" />
		</td>
		<td>
		{berufe.bezeichnung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_abu" />
		</td>
		<td>
		{berufe.ausbAbu}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_gh" />
		</td>
		<td>
		{berufe.ausbGh}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_s" />
		</td>
		<td>
		{berufe.ausbS}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_t" />
		</td>
		<td>
		{berufe.ausbT}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_w" />
		</td>
		<td>
		{berufe.ausbW}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_gh_stern" />
		</td>
		<td>
		{berufe.ausbGhStern}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_s_stern" />
		</td>
		<td>
		{berufe.ausbSStern}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bfbnberufe_domain_model_berufe.ausb_w_stern" />
		</td>
		<td>
		{berufe.ausbWStern}
		</td>
	</tr>
</table>
</html>